//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 14 18:38:48 2019
//! **************************************************************************

SCHEMATIC START;
COMP "sys_clk" LOCATE = SITE "Y9" LEVEL 1;
COMP "led<0>" LOCATE = SITE "T22" LEVEL 1;
COMP "led<1>" LOCATE = SITE "T21" LEVEL 1;
COMP "led<2>" LOCATE = SITE "U22" LEVEL 1;
COMP "led<3>" LOCATE = SITE "U21" LEVEL 1;
COMP "led<4>" LOCATE = SITE "V22" LEVEL 1;
COMP "led<5>" LOCATE = SITE "W22" LEVEL 1;
COMP "led<6>" LOCATE = SITE "U19" LEVEL 1;
COMP "led<7>" LOCATE = SITE "U14" LEVEL 1;
COMP "uart_rx" LOCATE = SITE "AA22" LEVEL 1;
COMP "uart_tx" LOCATE = SITE "AB22" LEVEL 1;
COMP "button" LOCATE = SITE "T18" LEVEL 1;
COMP "pmod_1" LOCATE = SITE "U10" LEVEL 1;
COMP "pmod_2" LOCATE = SITE "U9" LEVEL 1;
COMP "reset_btn" LOCATE = SITE "P16" LEVEL 1;
SCHEMATIC END;

